.img-view{
    width: 300px;
    height: 350px;
    border: 1px solid blueviolet;
    padding: 1px;
    background-color: aquamarine;
    margin: auto;
}
.img-view>.img{
    width: 300px;
    height: 350px;
}
.img-view>.img:hover{
    width:302px;
    height: 352px;
    cursor: pointer;
}
